.svg-STEP1 {
	background: url("sprite.css-3cfe6749.svg") 0 63.15455813363763% no-repeat;
}

.svg-STEP1-dims {
	width: 152.25px;
	height: 50.13px;
}

.svg-STEP2 {
	background: url("sprite.css-3cfe6749.svg") 0 0 no-repeat;
}

.svg-STEP2-dims {
	width: 153.56px;
	height: 49.81px;
}

.svg-arrow {
	background: url("sprite.css-3cfe6749.svg") 83.91256830601093% 66.99065420560748% no-repeat;
}

.svg-arrow-dims {
	width: 43px;
	height: 22px;
}

.svg-fb {
	background: url("sprite.css-3cfe6749.svg") 0 99.96999099729919% no-repeat;
}

.svg-fb-dims {
	width: 14px;
	height: 29.03px;
}

.svg-heart {
	background: url("sprite.css-3cfe6749.svg") 7% 94.28301886792453% no-repeat;
}

.svg-heart-dims {
	width: 26px;
	height: 23px;
}

.svg-icon-bg {
	background: url("sprite.css-3cfe6749.svg") 99.512675618228% 0 no-repeat;
}

.svg-icon-bg-dims {
	width: 71.688px;
	height: 71.68px;
}

.svg-speaker {
	background: url("sprite.css-3cfe6749.svg") 92.71698113207547% 60.745762711864415% no-repeat;
}

.svg-speaker-dims {
	width: 14px;
	height: 11px;
}

